body {
  font-family: 'Courier';
  background-color: white;
}

.canvasHolder:focus {
  outline: none;
}

.btn:hover {
  color: black;
  background-color: whitesmoke;
}

input:focus {
  outline: none;
}