@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: Quicksand;
  background-color: whitesmoke;
  color: #1565C0;
}

.canvasHolder:focus {
  outline: none;
}

.btn {
  background-color:#3498DB;
  color:whitesmoke;
  margin: 10px;
  font-size: 16px;
  font-weight: bolder;
}
.btn:hover {
  color: rgb(26, 149, 206);
  background-color: #E0F7FA;
}

input:focus {
  outline: none;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}